/* Styles for chocolate pie */
* {
  box-sizing:
}

body {
  font: Helvetica, Arial, serif;
}

main {
  width: 901px;
  margin: 0 auto;
}

header {
  position: relative;
}

#printIcon {
  display: inline;
  width: 200px;
  padding: 15px;
}

#printIcon img, #printIcon h4 {
  /*display: inline;*/
  float: left;
}

#printIcon p {
  font-size: 8pt;
  float: left;
}

#socialNav {
  display: inline;
  width: 250px;
  float: right;
}

#socialNav nav li {
}

hr {
  background: gray;
  padding: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%
}


#content {
  /*width: 300px;*/
}

#content p {
  /*width: 300px;*/
  float: left;
  text-indent: 25px;
}

#profile {
  border: dashed lime;
  padding: 10px;
  width: 100%; 
}
#profile img {
  float: left;
}

#profile p, #profile h6 {
  width: 300px;
}
.clearfix {
  content: '';
  clear: both;
  display: table;
}
button {
  float: right;
  display: block;
  padding: 15px;
  width: 300px;
}
